<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- text file path-->
		<add key="filePath" value="D:\MyProjects\TournamentTracker"/>

	</appSettings>

	<connectionStrings>
		<add name="Tournaments" connectionString="server=DESKTOP-FNCANHC;initial catalog=Tournaments;user id=sa;password=1234;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>