<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<!--server=dc.qa.e2.co.za;initial catalog=MMReports;user id=dot26mm;password=.net@live-->
		<add name="Tournaments" connectionString="server=DESKTOP-FNCANHC;initial catalog=Tournaments;user id=sa;password=1234;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>

</configuration>